<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pokemons"></ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary">
      Edit your pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="pokemonsForm" (ngSubmit)="savePokemon(pokemonsForm.value)">
          <ion-item>
            <ion-label position="floating">Pokemon name</ion-label>
            <ion-input formControlName="pokemon_name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Height</ion-label>
            <ion-input formControlName="altura"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-input formControlName="categoria" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Weight</ion-label>
            <ion-input formControlName="peso" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ability</ion-label>
            <ion-input formControlName="habilidad" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-input formControlName="tipo" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Image url</ion-label>
            <ion-input formControlName="url" type="text"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button expand="full" type="submit">Save</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>